<h1>My Articles</h1>

<%= render partial: "list_articles", locals: {articles: @my_articles} %>

<br/>

<h1>Other Articles</h1>

<%= render partial: "list_articles", locals: {articles: @articles} %>

<br/>

<%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
