<div class="card">
  <div class="card-body text-center">
    <p style = "font-size:70px">Legendary News Blog</p>
    <p style = "font-size:25px">Welcome to the legendary news blog!</p>
  </div>
</div>

<br/>

<h1>Published Articles:</h1>

<br/>

<% if @articles.empty? %>
  <hr/>
  No articles available.
<% else %>
  <table class = "table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= "#{article.journalist.first_name} #{article.journalist.last_name}" %></td>
          <td><%= link_to 'Show', article, class: "btn btn-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<br>
